(
    camera: (
        pos: (
            x: 13.0,
            y: 2.0,
            z: 3.0,
        ),
        yaw: -102.99461,
        pitch: -8.525517,
        vfov: 20.0,
    ),
    spheres: [
        (
            pos: (
                x: -0.0,
                y: -1000.0,
                z: -0.0,
            ),
            rad: 1000.0,
            mat_type: 1,
            mat_index: 0,
        ),
        (
            pos: (
                x: 0.0,
                y: 1.0,
                z: 0.0,
            ),
            rad: 1.0,
            mat_type: 3,
            mat_index: 0,
        ),
        (
            pos: (
                x: -4.0,
                y: 1.0,
                z: 0.0,
            ),
            rad: 1.0,
            mat_type: 1,
            mat_index: 1,
        ),
        (
            pos: (
                x: 4.0,
                y: 1.0,
                z: 0.0,
            ),
            rad: 1.0,
            mat_type: 2,
            mat_index: 0,
        ),
        (
            pos: (
                x: -4.6617284,
                y: 0.2,
                z: -0.99178475,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -4.528594,
                y: 0.2,
                z: 0.40312704,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -4.107195,
                y: 0.2,
                z: 1.8712411,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -3.3338695,
                y: 0.2,
                z: -2.1333988,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 1,
        ),
        (
            pos: (
                x: -3.29238,
                y: 0.2,
                z: -1.7334845,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 2,
        ),
        (
            pos: (
                x: -3.1042974,
                y: 0.2,
                z: -0.4998808,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 2,
        ),
        (
            pos: (
                x: -3.4403749,
                y: 0.2,
                z: 0.026162535,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -3.262077,
                y: 0.2,
                z: 1.7551687,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 3,
        ),
        (
            pos: (
                x: -3.3292413,
                y: 0.2,
                z: 2.6679873,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 1,
        ),
        (
            pos: (
                x: -3.5807908,
                y: 0.2,
                z: 3.3579078,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -2.1423998,
                y: 0.2,
                z: -4.186888,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -2.2968993,
                y: 0.2,
                z: -3.1022234,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 2,
        ),
        (
            pos: (
                x: -2.34205,
                y: 0.2,
                z: -2.5558045,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 4,
        ),
        (
            pos: (
                x: -2.5844834,
                y: 0.2,
                z: -1.6648967,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 5,
        ),
        (
            pos: (
                x: -2.8441496,
                y: 0.2,
                z: -0.28020066,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -2.6778915,
                y: 0.2,
                z: 0.27162123,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 3,
        ),
        (
            pos: (
                x: -2.1027246,
                y: 0.2,
                z: 1.4538456,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 3,
        ),
        (
            pos: (
                x: -2.8668985,
                y: 0.2,
                z: 2.2536666,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 4,
        ),
        (
            pos: (
                x: -2.243216,
                y: 0.2,
                z: 3.6897542,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 6,
        ),
        (
            pos: (
                x: -1.734453,
                y: 0.2,
                z: -4.4118347,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 7,
        ),
        (
            pos: (
                x: -1.2183927,
                y: 0.2,
                z: -3.7298558,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 8,
        ),
        (
            pos: (
                x: -1.989288,
                y: 0.2,
                z: -2.8973331,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 4,
        ),
        (
            pos: (
                x: -1.7979065,
                y: 0.2,
                z: -1.9754219,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -1.7521708,
                y: 0.2,
                z: -0.8641345,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 9,
        ),
        (
            pos: (
                x: -1.6579758,
                y: 0.2,
                z: 0.17106275,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 10,
        ),
        (
            pos: (
                x: -1.9436784,
                y: 0.2,
                z: 1.0176461,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 5,
        ),
        (
            pos: (
                x: -1.5475703,
                y: 0.2,
                z: 2.606298,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 5,
        ),
        (
            pos: (
                x: -1.2520816,
                y: 0.2,
                z: 3.3315246,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 11,
        ),
        (
            pos: (
                x: -1.6483722,
                y: 0.2,
                z: 4.2798553,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 12,
        ),
        (
            pos: (
                x: -0.4533717,
                y: 0.2,
                z: -4.8922606,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -0.80031896,
                y: 0.2,
                z: -3.139843,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -0.30255216,
                y: 0.2,
                z: -2.3920183,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -0.25845253,
                y: 0.2,
                z: -1.9392701,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 13,
        ),
        (
            pos: (
                x: -0.8218353,
                y: 0.2,
                z: -0.17737234,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 6,
        ),
        (
            pos: (
                x: -0.92232907,
                y: 0.2,
                z: 0.59115225,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 6,
        ),
        (
            pos: (
                x: -0.6297183,
                y: 0.2,
                z: 1.81584,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -0.9916686,
                y: 0.2,
                z: 2.7696185,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: -0.58127177,
                y: 0.2,
                z: 3.436331,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 14,
        ),
        (
            pos: (
                x: -0.26907653,
                y: 0.2,
                z: 4.55496,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: 0.6765542,
                y: 0.2,
                z: -4.7083282,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 7,
        ),
        (
            pos: (
                x: 0.24234305,
                y: 0.2,
                z: -3.2578273,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 7,
        ),
        (
            pos: (
                x: 0.044065207,
                y: 0.2,
                z: -2.2777061,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: 0.03617077,
                y: 0.2,
                z: -1.5439556,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: 0.13985413,
                y: 0.2,
                z: -0.91808593,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: 0.7528775,
                y: 0.2,
                z: 0.8152865,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 8,
        ),
        (
            pos: (
                x: 0.6222718,
                y: 0.2,
                z: 1.3152369,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: 0.118524134,
                y: 0.2,
                z: 2.161528,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 9,
        ),
        (
            pos: (
                x: 0.03523607,
                y: 0.2,
                z: 3.082705,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 10,
        ),
        (
            pos: (
                x: 0.13673435,
                y: 0.2,
                z: 4.3675666,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 8,
        ),
        (
            pos: (
                x: 1.5021324,
                y: 0.2,
                z: -4.145042,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 9,
        ),
        (
            pos: (
                x: 1.1156387,
                y: 0.2,
                z: -3.642365,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: 1.0317799,
                y: 0.2,
                z: -2.7259424,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 10,
        ),
        (
            pos: (
                x: 1.1474061,
                y: 0.2,
                z: -1.822782,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 11,
        ),
        (
            pos: (
                x: 1.6451397,
                y: 0.2,
                z: -0.7422919,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 15,
        ),
        (
            pos: (
                x: 1.7511814,
                y: 0.2,
                z: 0.76002973,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 11,
        ),
        (
            pos: (
                x: 1.1222339,
                y: 0.2,
                z: 1.2192005,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 12,
        ),
        (
            pos: (
                x: 1.8130065,
                y: 0.2,
                z: 2.1220284,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 16,
        ),
        (
            pos: (
                x: 1.7574155,
                y: 0.2,
                z: 3.5113826,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 17,
        ),
        (
            pos: (
                x: 1.1463107,
                y: 0.2,
                z: 4.649546,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 12,
        ),
        (
            pos: (
                x: 2.4966311,
                y: 0.2,
                z: -3.967008,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 13,
        ),
        (
            pos: (
                x: 2.2894962,
                y: 0.2,
                z: -2.811768,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 13,
        ),
        (
            pos: (
                x: 2.7811096,
                y: 0.2,
                z: -1.2848933,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 14,
        ),
        (
            pos: (
                x: 2.5890107,
                y: 0.2,
                z: -0.45010126,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 14,
        ),
        (
            pos: (
                x: 2.522665,
                y: 0.2,
                z: 0.29148483,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 15,
        ),
        (
            pos: (
                x: 2.4658408,
                y: 0.2,
                z: 1.6454325,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: 2.6191225,
                y: 0.2,
                z: 2.4203787,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 15,
        ),
        (
            pos: (
                x: 2.6416416,
                y: 0.2,
                z: 3.765871,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 16,
        ),
        (
            pos: (
                x: 3.6354043,
                y: 0.2,
                z: -2.2984374,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: 3.6585872,
                y: 0.2,
                z: -1.7260318,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 18,
        ),
        (
            pos: (
                x: 3.4060874,
                y: 0.2,
                z: -0.13847548,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 16,
        ),
        (
            pos: (
                x: 3.093357,
                y: 0.2,
                z: 0.009459561,
            ),
            rad: 0.2,
            mat_type: 0,
            mat_index: 0,
        ),
        (
            pos: (
                x: 3.5358987,
                y: 0.2,
                z: 1.5781136,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 19,
        ),
        (
            pos: (
                x: 3.169743,
                y: 0.2,
                z: 2.7060187,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 17,
        ),
        (
            pos: (
                x: 3.521515,
                y: 0.2,
                z: 3.2327523,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 20,
        ),
        (
            pos: (
                x: 4.260971,
                y: 0.2,
                z: -1.7010846,
            ),
            rad: 0.2,
            mat_type: 1,
            mat_index: 17,
        ),
        (
            pos: (
                x: 4.279196,
                y: 0.2,
                z: -0.41690856,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 18,
        ),
        (
            pos: (
                x: 4.3626304,
                y: 0.2,
                z: 0.06258264,
            ),
            rad: 0.2,
            mat_type: 3,
            mat_index: 19,
        ),
        (
            pos: (
                x: 4.495099,
                y: 0.2,
                z: 1.1994895,
            ),
            rad: 0.2,
            mat_type: 2,
            mat_index: 21,
        ),
    ],
    lights: [
        (
            colour: (
                x: 1.0,
                y: 1.0,
                z: 1.0,
            ),
        ),
    ],
    lambertians: [
        (
            albedo: (
                x: 0.5,
                y: 0.5,
                z: 0.5,
            ),
        ),
        (
            albedo: (
                x: 0.4,
                y: 0.2,
                z: 0.1,
            ),
        ),
        (
            albedo: (
                x: 0.23174497,
                y: 0.058195904,
                z: 0.2854164,
            ),
        ),
        (
            albedo: (
                x: 0.21437585,
                y: 0.025350887,
                z: 0.97661495,
            ),
        ),
        (
            albedo: (
                x: 0.14611556,
                y: 0.09974121,
                z: 0.18344802,
            ),
        ),
        (
            albedo: (
                x: 0.6945492,
                y: 0.0886123,
                z: 0.3915611,
            ),
        ),
        (
            albedo: (
                x: 0.27504942,
                y: 0.3225304,
                z: 0.23190995,
            ),
        ),
        (
            albedo: (
                x: 0.03785736,
                y: 0.34865788,
                z: 0.17290843,
            ),
        ),
        (
            albedo: (
                x: 0.32147446,
                y: 0.75070864,
                z: 0.16443683,
            ),
        ),
        (
            albedo: (
                x: 0.12716132,
                y: 0.35144722,
                z: 0.6980333,
            ),
        ),
        (
            albedo: (
                x: 0.22892563,
                y: 0.035448708,
                z: 0.11942518,
            ),
        ),
        (
            albedo: (
                x: 0.042353578,
                y: 0.015780952,
                z: 0.07593607,
            ),
        ),
        (
            albedo: (
                x: 0.04787474,
                y: 0.041894644,
                z: 0.27302828,
            ),
        ),
        (
            albedo: (
                x: 0.37687412,
                y: 0.10534855,
                z: 0.03876941,
            ),
        ),
        (
            albedo: (
                x: 0.018019628,
                y: 0.07718169,
                z: 0.22000596,
            ),
        ),
        (
            albedo: (
                x: 0.029152561,
                y: 0.47686496,
                z: 0.113619216,
            ),
        ),
        (
            albedo: (
                x: 0.015337685,
                y: 0.4086011,
                z: 0.0056330003,
            ),
        ),
        (
            albedo: (
                x: 0.22052233,
                y: 0.22018756,
                z: 0.047011632,
            ),
        ),
    ],
    metals: [
        (
            albedo: (
                x: 0.7,
                y: 0.6,
                z: 0.5,
            ),
            roughness: 0.0,
        ),
        (
            albedo: (
                x: 0.9742515,
                y: 0.59834826,
                z: 0.6018278,
            ),
            roughness: 0.020915031,
        ),
        (
            albedo: (
                x: 0.941567,
                y: 0.891095,
                z: 0.554214,
            ),
            roughness: 0.31026626,
        ),
        (
            albedo: (
                x: 0.7838116,
                y: 0.98983335,
                z: 0.95988214,
            ),
            roughness: 0.44159192,
        ),
        (
            albedo: (
                x: 0.84256023,
                y: 0.5023332,
                z: 0.55513823,
            ),
            roughness: 0.23668039,
        ),
        (
            albedo: (
                x: 0.58998066,
                y: 0.67984885,
                z: 0.53953266,
            ),
            roughness: 0.28426707,
        ),
        (
            albedo: (
                x: 0.9489983,
                y: 0.81839,
                z: 0.65122634,
            ),
            roughness: 0.02641654,
        ),
        (
            albedo: (
                x: 0.5963065,
                y: 0.6614389,
                z: 0.8129109,
            ),
            roughness: 0.15506494,
        ),
        (
            albedo: (
                x: 0.61238307,
                y: 0.5997912,
                z: 0.51061994,
            ),
            roughness: 0.4044519,
        ),
        (
            albedo: (
                x: 0.99887806,
                y: 0.606187,
                z: 0.9277899,
            ),
            roughness: 0.23964453,
        ),
        (
            albedo: (
                x: 0.697128,
                y: 0.7173115,
                z: 0.75409764,
            ),
            roughness: 0.19971669,
        ),
        (
            albedo: (
                x: 0.57674646,
                y: 0.5568124,
                z: 0.6464705,
            ),
            roughness: 0.28343123,
        ),
        (
            albedo: (
                x: 0.5169998,
                y: 0.75228167,
                z: 0.5878155,
            ),
            roughness: 0.17871177,
        ),
        (
            albedo: (
                x: 0.93759376,
                y: 0.5424934,
                z: 0.82262814,
            ),
            roughness: 0.021054208,
        ),
        (
            albedo: (
                x: 0.8495531,
                y: 0.8515147,
                z: 0.6240546,
            ),
            roughness: 0.1972779,
        ),
        (
            albedo: (
                x: 0.5983231,
                y: 0.6888765,
                z: 0.5140078,
            ),
            roughness: 0.15620244,
        ),
        (
            albedo: (
                x: 0.56780297,
                y: 0.9251874,
                z: 0.6888613,
            ),
            roughness: 0.087774634,
        ),
        (
            albedo: (
                x: 0.6082078,
                y: 0.98558235,
                z: 0.7533955,
            ),
            roughness: 0.3684832,
        ),
        (
            albedo: (
                x: 0.6454464,
                y: 0.8689483,
                z: 0.5775716,
            ),
            roughness: 0.13831455,
        ),
        (
            albedo: (
                x: 0.56593245,
                y: 0.6204883,
                z: 0.750343,
            ),
            roughness: 0.03630221,
        ),
        (
            albedo: (
                x: 0.6891743,
                y: 0.7386589,
                z: 0.883085,
            ),
            roughness: 0.25400776,
        ),
        (
            albedo: (
                x: 0.64277107,
                y: 0.7889772,
                z: 0.7425881,
            ),
            roughness: 0.0180251,
        ),
    ],
    glass: [
        (
            ir: 1.5,
        ),
        (
            ir: 2.2338543,
        ),
        (
            ir: 1.2928332,
        ),
        (
            ir: 1.4739642,
        ),
        (
            ir: 2.2074704,
        ),
        (
            ir: 3.7987764,
        ),
        (
            ir: 2.8904889,
        ),
        (
            ir: 1.2303356,
        ),
        (
            ir: 2.1965413,
        ),
        (
            ir: 1.951711,
        ),
        (
            ir: 3.8058677,
        ),
        (
            ir: 1.2433804,
        ),
        (
            ir: 2.36349,
        ),
        (
            ir: 3.5003257,
        ),
        (
            ir: 2.0306787,
        ),
        (
            ir: 2.9718657,
        ),
        (
            ir: 2.1062422,
        ),
        (
            ir: 1.5313377,
        ),
        (
            ir: 1.1182865,
        ),
        (
            ir: 3.0885887,
        ),
    ],
)